/* Styles go here. */
body>canvas:nth-child(3) {
    position: absolute !important;
    background-color: transparent !important;
    top: 0;
    left: 0;
}

.ui-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    color: #7a7770;
    display: flex;
}


.ui-game-mode,
.ui-toggle-sound {
    cursor: pointer;
    padding: 5px;
}
